/* Navbar Background */
.navbar {
  background-color: #ffffff;
}

/* Sidebar Container */
.sidebar-container {
  background-color: #ffffff;
  position: fixed;
  width: 18vw;
  top: 0;
  left: 0;
  z-index: 100;
  transition: left 0.3s ease;
  overflow-y: auto;
  margin: 13px;
  border-radius: 10px;
}

/* Show sidebar when active */
.sidebar-container.show-sidebar {
  left: 0;
}

/* Menu Burger for Small Screens */
.menu-burger {
  display: none; /* Hide menu burger by default */
  padding: 10px;
  height: 40px;
  width: 40px;
  text-align: right;
}

/* Show menu burger on screens smaller than 768px */
@media screen and (max-width: 768px) {
  .menu-burger {
    display: block; /* Show menu burger */
  }

  .sidebar-container {
    width: 100%; /* Full width on mobile */
    left: -100%; /* Hide sidebar by default on mobile */
    position: absolute;
    margin: 0px;
  }

  .sidebar-container.show-sidebar {
    left: 0; /* Show sidebar when active */
  }

  .sidebar-header,
  h3 {
    text-align: center;
    font-size: 16px;
    padding-left: 0;
  }
}

/* Sidebar Header */
.sidebar-header {
  padding: 20px;
  text-align: center;
  background-color: #007bff; 
  color: #ffffff; 
  font-size: 24px;
  font-weight: bold;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
}

/* Sidebar Menu */
.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  text-decoration: none;
  /* Apply consistent spacing and layout for all items */
}

.sidebar-menu li {
  transition: background-color 0.3s, color 0.3s;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer; /* Ensure the item is clickable */
}

/* Sidebar Menu Item Links */
.sidebar-menu li a {
  color: #333333; /* Dark text color */
  text-decoration: none;
  display: block;
  width: 100%; /* Ensure link covers entire area */
  padding: 10px 20px;
}

/* Hover Effects for Sidebar Menu Items */
.sidebar-menu li:hover {
  background-color: #D269B9; /* Light pinkish background on hover */
  color: #ffffff; /* White text color on hover */
}

/* Active Menu Item */
.sidebar-menu li.active {
  background-color: #003366; /* Dark blue background for active item */
}

.sidebar-menu li.active a {
  color: #ffffff; /* White text color for active item */
}

/* Divider between menu items */
.sidebar-menu li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; /* Height of divider */
  background-color: #e0e0e0; /* Divider color */
}

/* Icon Styles */
.sidebar-menu li .icon {
  margin-right: 10px;
  font-size: 20px;
  vertical-align: middle; /* Align icon with text */
  display: block;
  /* Add consistent spacing to the left of icons */
}

/* Ensure links have no underlines */
a {
  text-decoration: none;
}
